<div class="col-md-6 offset-md-3">
  <h3>Create Payment</h3>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="text" formControlName="amount" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Debit Account Number</mat-label>
        <input matInput type="text" formControlName="debitAccountNumber" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Credit Account Number</mat-label>
        <input matInput type="text" formControlName="creditAccountNumber" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
