<div class="container mt-5">
  <div class="card">
    <form
      #changePasswordForm="ngForm"
      (ngSubmit)="changePassword(changePasswordForm)"
    >
      <mat-form-field class="mb-3">
        <input
          matInput
          type="password"
          ngModel
          name="oldPassword"
          id="oldPassword"
          placeholder="Enter your old password"
        />
      </mat-form-field>

      <mat-form-field class="mb-3">
        <input
          matInput
          type="password"
          ngModel
          name="newPassword"
          id="newPassword"
          placeholder="Enter your new password"
        />
      </mat-form-field>

      <mat-form-field class="mb-3">
        <input
          matInput
          type="password"
          ngModel
          name="confirmNewPassword"
          id="confirmNewPassword"
          placeholder="Confirm your new password"
        />
      </mat-form-field>

      <div class="password-requirements">
        <p>Your password must meet the following criteria:</p>
        <ul>
          <li *ngFor="let requirement of passwordRequirements">
            {{ requirement }}
          </li>
        </ul>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="form-control rounded-0"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
