.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.card {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: red;
  display: flex;
  flex-direction: column; /* To stack the text vertically */
  align-items: center; /* To center the content horizontally */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
