<div class="col-md-6 offset-md-3">
  <h3>Create User</h3>
  <div class="guidelines">
    <p><strong>Password Requirements:</strong></p>
    <ul>
      <li>At least 8 characters long</li>
      <li>Contains at least 1 lowercase letter (a-z)</li>
      <li>Contains at least 1 uppercase letter (A-Z)</li>
      <li>Contains at least 1 digit (0-9)</li>
      <li>Contains at least 1 symbol (e.g., !@#$%^&*)</li>
    </ul>
    <p>
      <strong>Email Address Requirements:</strong> Email address must be valid
      (e.g., example@domain.com)
    </p>
    <p>
      <strong>Phone Number Requirements:</strong> Phone number must be 10 digits
    </p>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="userName" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Password confirmation</mat-label>
        <input
          matInput
          type="password"
          formControlName="passwordConfirmation"
        />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="emailAddress" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" formControlName="address" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Profile Name</mat-label>
        <mat-select formControlName="profileName">
          <mat-option
            *ngFor="let profileName of profileNames"
            [value]="profileName"
          >
            {{ profileName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-checkbox formControlName="mfaEnabled"
        >Enable 2FA (Two Factor Authentication)</mat-checkbox
      >
    </div>

    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
